<div class="flex justify-center p-2 md:p-5 w-full mx-auto">
  <div class="card shadow-2xl w-full">
    <div class="card-body">
      <h2 class="card-title">Create Match</h2>
      <h6 class="card-title font-normal text-lg">Add the teams from the below list</h6>
      <form [formGroup]="matchForm" class="mb-5">
        <div class="flex flex-col md:flex-row">
          <div class="form-control md:mr-8">
            <label class="label" for="number-of-sets">
              <span class="label-text">Number Of Sets</span>
            </label>
            <input type="text" id="number-of-sets" class="input input-bordered input-sm focus:shadow-none"
              formControlName="numberOfSets">
          </div>
          <div class="form-control">
            <label class="label" for="winning-point">
              <span class="label-text">Winning Point</span>
            </label>
            <input type="text" id="winning-point" class="input input-bordered input-sm focus:shadow-none"
              formControlName="winningPoint">
          </div>
        </div>
      </form>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <div class="card bordered" *ngFor="let team of teams$ | async" [class.border-primary]="isTeamSelected(team)">
          <div class="card-body p-5">
            <p class="card-title break-all">{{ team.name }}</p>
            <div class="flex justify-between">
              <p>{{ team.place }}</p>
              <div>
                <a class="cursor-pointer text-primary" (click)="selectTeam(team)"
                  [class.hidden]="isTeamSelected(team) || !selectionAllowed()">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                  </svg>
                </a>
                <a class="cursor-pointer text-primary" (click)="deselectTeam(team)"
                  [class.hidden]="!isTeamSelected(team)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 text-error" *ngIf="errorText">{{ errorText }}</div>
      <div class="justify-center card-actions">
        <button type="button" [disabled]="selectionAllowed() || !matchForm.valid"
          class="btn btn-primary btn-sm !disabled:cursor-not-allowed" [class.btn-disabled]="selectionAllowed()"
          [class.loading]="saving" (click)="createMatch()">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.modal-open]="saved">
  <div class="modal-box">
    <p>Match created sucessfully</p>
    <div class="modal-action">
      <a class="btn btn-primary btn-sm" (click)="goBack()">OK</a>
    </div>
  </div>
</div>
