<div>
  <div>
    <h5>Team Registration</h5>
    <form [formGroup]="teamForm">
      <div>
        <label for="team-name">Team name<span>*</span></label>
        <input type="text" id="team-name" formControlName="name">
      </div>
      <div>
        <label for="place">Place<span>*</span></label>
        <input type="text" id="place" formControlName="place">
      </div>
    </form>
    <div>
      <form [formGroup]="playerOneForm">
        <h6>Player 1</h6>
        <div>
          <div>
            <label for="player1-name">Name<span>*</span></label>
            <input type="text" id="player1-name" formControlName="name">
          </div>
          <div>
            <label for="player1-phone-number">Contact Number<span>*</span></label>
            <input type="text" id="player1-phone-number" formControlName="phoneNumber">
          </div>
        </div>
        <div>
          <div>
            <label for="player1-jersy-number">Jersy Number</label>
            <input type="text" id="player1-jersy-number" formControlName="jersyNumber">
          </div>
          <div>
            <label for="player1-age">Age<span>*</span></label>
            <input type="text" id="player1-age" formControlName="age">
          </div>
        </div>
      </form>
      <form [formGroup]="playerTwoForm">
        <h6>Player 2</h6>
        <div>
          <div>
            <label for="player2-name">Name<span>*</span></label>
            <input type="text" id="player2-name" formControlName="name">
          </div>
          <div>
            <label for="player2-phone-number">Contact Number<span>*</span></label>
            <input type="text" id="player2-phone-number" formControlName="phoneNumber">
          </div>
        </div>
        <div>
          <div>
            <label for="player2-jersy-number">Jersy Number</label>
            <input type="text" id="player2-jersy-number" formControlName="jersyNumber">
          </div>
          <div>
            <label for="player2-age">Age<span>*</span></label>
            <input type="text" id="player2-age" formControlName="age">
          </div>
        </div>
      </form>
    </div>
    <button type="button" [disabled]="!teamForm.valid || !playerOneForm.valid || !playerTwoForm.valid"
      (click)="register()">Submit</button>
  </div>
</div>
