.previous-point {
  min-width: 50px;
  text-align: center;
}

.border-1 {
  border-width: 1px !important;
}

.border-l-1 {
  border-left-width: 1px !important;
}

.border-1.border-t-0 {
  border-top-width: 0px !important;
}
