<div class="flex flex-col justify-center items-center p-3 md:p-5 w-full min-h-screen max-h-screen">
  <ng-container *ngIf="match; else noOngoingMatch">
    <p class="text-2xl">Match {{ match.matchNumber }} (Set {{ match.currentSet + 1 }})</p>
    <div class="flex flex-col lg:flex-row justify-center w-full pt-4">
      <div class="card shadow-2xl h-auto w-full lg:w-2/4 lg:mr-4">
        <div class="card-body items-center">
          <h4 class="card-title font-medium text-lg mb-0 break-all">{{ match.firstTeamData?.name }}</h4>
          <p class="text-9xl">{{ getCurrentPoint(1) }}</p>
          <div class="flex flex-col self-start pt-4">
            <p *ngFor="let player of match.firstTeamData?.players">
              {{ player.name }} <span *ngIf="player.captain">(C)</span>
            </p>
          </div>
        </div>
      </div>
      <div class="card shadow-2xl h-auto w-full lg:w-2/4 mt-4 lg:mt-0">
        <div class="card-body items-center">
          <h4 class="card-title font-medium text-lg mb-0 break-all">{{ match.secondTeamData?.name }}</h4>
          <p class="text-9xl">{{ getCurrentPoint(2) }}</p>
          <div class="flex flex-col self-start pt-4">
            <p *ngFor="let player of match.secondTeamData?.players">
              {{ player.name }} <span *ngIf="player.captain">(C)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="previousSets && previousSets.length" class="mt-10">
      <div class="flex flex-row items-center text-lg border-solid border-primary border-1">
        <div class="p-2 flex-grow">{{ match.firstTeamData?.name }}</div>
        <div class="p-2 border-l-1 border-primary previous-point" *ngFor="let set of previousSets">
          {{ set.firstTeamPoint }}
        </div>
      </div>
      <div class="flex flex-row items-center border-solid text-lg border-primary border-1 border-t-0">
        <div class="p-2 flex-grow">{{ match.secondTeamData?.name }}</div>
        <div class="p-2 border-l-1 border-primary previous-point" *ngFor="let set of previousSets">
          {{ set.secondTeamPoint }}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noOngoingMatch>
    <div class="card shadow-2xl h-auto w-auto">
      <div class="card-body">
        There is no ongoing match
      </div>
    </div>
  </ng-template>
</div>
