<div class="flex flex-col p-3 md:p-5 w-full mx-auto">
  <h2 class="text-2xl font-semibold mb-5">Matches</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <div class="card shadow-2xl" *ngFor="let match of matches">
      <div class="card-body items-center p-5">
        <p class="text-center break-all">{{ match.firstTeamData?.name }}</p>
        <div class="divider text-3xl">Vs</div>
        <p class="text-center break-all">{{ match.secondTeamData?.name }}</p>
        <a class="cursor-pointer mt-5 text-primary" (click)="schedduleMatch(match)" *ngIf="canSchedule">Schedule For
          Next</a>
      </div>
    </div>
  </div>
</div>
